<form class="example-form">
    
        <mat-form-field class="example-full-width">
                <input  [(ngModel)] = "name" 
                        name = "name" 
                        matInput placeholder="First Name">
        </mat-form-field>
            
              
          <mat-form-field class="example-full-width">
              <input  [(ngModel)] = "email" 
                      name = "email" 
                      matInput placeholder="Email">
            </mat-form-field>
            <div *ngIf = "code == 'auth/invalid-email'">{{ message }}</div>
            <div *ngIf = "code == 'auth/email-already-in-use'">{{ message }}</div>
          
            <mat-form-field class="example-full-width">
                <input [(ngModel)] = "password" 
                        name = "password"
                        [type] = "hide ? 'password' : 'text'" 
                        matInput placeholder="Password">
                        <!-- במידה ורוצים שתהיה את האפשרות להציג ולהסתיר את הסיסמה, לא לשכוח  2 שורות ובטיאס משתנה הייד שווה לטרו -->
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div *ngIf = "code == 'auth/weak-password'"  class="err">{{ message }}</div>
           
    <button mat-raised-button 
            (click)="register()">Register</button>
  
  

</form>