<mat-card class="example-card">

    <mat-card-content>
        <a routerLink = "">Todos</a>-
        <a *ngIf = "!(authService.user | async)"routerLink = "/login">Login</a>-
<!-- במידה והזיור לא מחובר תראה את הכפתור -->
        <button (click) = "toRegister()">Register</button>-
        <button (click) = "toCodes()">Codes</button>-
        <button (click) = "toUserTodos()">User Todos</button>
        <button *ngIf = "(authService.user | async)" (click) = "logout()">Logout</button>
        <!-- במידה והיוזר מחובר תראה את הכפתור -->
    </mat-card-content>
</mat-card>

<div *ngIf = "authService.user | async">
    <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
    <!-- במידה והיוזר מחובר תעשה לו ברוך הבא עם השם שלו -->
</div>
